# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Streamlit
.streamlit/

# FastAPI
*.db
*.sqlite
*.log

# Virtual Environment
venv/
env/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db
